<nav
  class="flex justify-between bg-slate-900 p-4 text-lg text-white border-white border"
>
  <a class="hover:text-gray-500" href="/">Members Only</a>
  <div class="flex gap-4">
    <a class="hover:text-gray-500" href="/log-in">Log-in</a>
    <a class="hover:text-gray-500" href="/sign-up">Sign-up</a>
  </div>
</nav>
