<nav
  class="flex justify-between bg-slate-900 p-4 text-lg text-white border-white border"
>
  <a class="hover:text-gray-500" href="/">Members Only</a>
  <div class="flex gap-4">


    <% if (user) { %>
      <% if (status === 'guest') { %>
        <a class="hover:text-gray-500" href="/auth/member-sign-up"> Become Member </a>
      <% } %>
      <% if (status === 'member') { %>
        <a class="hover:text-gray-500" href="/auth/member-sign-up"> Become Admin </a>
      <% } %>
    
    <a class="hover:text-gray-500" href="/auth/log-out"> Log-Out </a>
    <% } else { %>
      <a class="hover:text-gray-500" href="/auth/sign-up"> Sign-Up </a>
    <a class="hover:text-gray-500" href="/auth/log-in"> Log-In </a>
    <% } %> 
</nav>
