<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <form class="flex flex-col" action="" method="POST">
      <label class="input-primary" for="firstname">First Name</label>
      <input name="firstname" placeholder="firstname" type="text" />
      <label class="input-primary" for="lastname">Last Name</label>
      <input name="lastname" placeholder="lastname" type="text" />
      <label class="input-primary" for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label class="input-primary" for="password">Password</label>
      <input name="password" type="password" />
      <button>Sign Up</button>
    </form>
  </body>
</html>
